{% extends "web/base.html" %}


{% block content %}
{% load staticfiles%}

<div class="row">
<div class="col-md-8">
    <div class="col-md-7">
     <ul class="nav nav-tabs nav-justified">
      <li {% if not request.GET.tab %} class="active"  {% endif %} ><a href="#tab1default" data-toggle="tab">Categories</a></li>
      <li><a href="#tab2default" data-toggle="tab">Listing Form</a></li>
      <li {% if request.GET.tab %} class="active"  {% endif %}  ><a href="#tab3default" data-toggle="tab">My Listings</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade {% if not request.GET.tab %} in active {% endif %}" id="tab1default">
        <div class="list-group">
          <ul class="item margin-0 padding-0">
            {% for item in categories %}
            <li class="list-group-item">
              {{ item.name }}
              <ul class="subitem" >

                {% for key,value in sub_categories.items %}
                {% if key == item.id %}

                {% for sub_item in value %}
                <li  onclick="get_sub_sub_categories('{{ sub_item.id }}')">{{ sub_item }}</li>
                <ul id="sub_sub_cate_{{ sub_item.id }}"></ul>
                {% endfor %}
                {% endif  %}
                {% endfor %}

              </ul>


            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="tab2default">
        <p>&nbsp</p>
        <p>&nbsp</p>
        <h6 style="padding: 0px 13px; background-color: 595959;">Autos > Car for Sale</h6>
        <p style="padding:0 11px;background-color: 595959;color: #fbc300; border-bottom: 2px solid #fff; margin-bottom:40px;">*Required Field &nbsp&nbsp<a class="btn-warning" href="#" role="button"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></a><label class="pull-right" style=" color: #00b050;">
          <input type="checkbox"> FEATURED LISTING
        </label></p>
        <form class="form-inline">
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Title</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Title">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Currency (in dollars)</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Currency">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Year</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Year">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Make</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Make">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Model</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Model">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Street Address</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Street Address">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Parish</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Parish">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Area</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Area">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Phone</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Phone">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Email</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Email">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Contact</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Contact">
            </div>
          </div>
          <div class="form-group col-xs-12 padding-0">
            <label class="sr-only" for="exampleInputAmount">Comments</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="Comments">
            </div>
          </div>
          <fieldset disabled>
            <label class="sr-only" for="exampleInputAmount">Comments</label>
            <div class="input-group col-xs-12">
              <div class="input-group-addon-2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
              <input type="text" class="form-control-2" id="exampleInputAmount" placeholder="JAC_LGID_16_AUT_469-485-131-755">
            </div>
          </fieldset>
        </form>
        <div class="card-action">
          <a href="#" target="new_blank">Cancel</a>
          <a href="#" target="new_blank">Save</a>
          <a href="#" target="new_blank">Post</a>
          <a href="#" target="new_blank">Preview</a>
        </div>
      </div><!--   tab2default > -->

      <div class="tab-pane fade {% if request.GET.tab %} in active {% endif %} " id="tab3default">
        <p>&nbsp</p>
        <p>&nbsp</p>
        <div class="col-xs-12">
          <ul class="list-inline" style="margin: 0;">
            <li style="border-bottom: #ffc000 solid 3px;"><a href="/dashboard/consumer-user?tab=3&orderby=date&list={{request.GET.list}}"  style="color: #fff;">DATE </a></li>
            <li> <a href="/dashboard/consumer-user?tab=3&orderby=category&list={{request.GET.list}}"   style="color: #fff;">CATEGORY</a></li>
            <li style="float: right;">       
              <div class="btn-group">
               <button type="button" class="btn2 btn-default-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LISTINGS &nbsp&nbsp<span class="glyphicon glyphicon-chevron-down" aria-hidden="true">
               </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/dashboard/consumer-user?tab=3&orderby={{request.GET.orderby}}&list=all"  >All</a></li>
                <li><a href="/dashboard/consumer-user?tab=3&orderby={{request.GET.orderby}}&list=post" >Posted</a></li>
                <!--li role="separator" class="divider"></li-->
                <li><a href="/dashboard/consumer-user?tab=3&orderby={{request.GET.orderby}}&list=unpost" >Unposted</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      {% if record > 0 %}
      {% for post_data in my_listing %}

      <div class="box {% if post_data.post.is_posted == True %} Posted {% else %} Unposted {% endif %}">
       <h6 style="padding: 0px 13px; margin:0; background-color: 595959;">{{ post_data.post.category.name }}

       </h6>
       <div class="f-listing"><span class="glyphicon glyphicon-star" style="color: #229500;" aria-hidden="true"></span> FEATURE LISTING{{ post_data.image.value }}</div>
       <div class="col-box">
         <div class="col-1">
           {% if post_data.image.value != '' %}
           <img src="{{ post_data.image.value }}" />
           {% else %}
           <img src="images/pic-no.jpg" />
           {% endif %}
         </div>
         <div class="col-2">
           <div class="text-right"><small>{% if post_data.post.is_posted == True %} Posted {% else %} Unposted {% endif %}</small></div>
         </div>
         <div class="clearfix"></div>
         <div class="col-1-d"><small>1 Pic</small></div>
         <div class="col-2-d">
           <div class="text-down"><small>{{ post_data.post.posted_on|date:"M d, Y" }} </small> 
             <div class="text-icon">
               {% if post_data.post.is_posted == True %}
               <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
               {% else %}
               <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
               {% endif %}
               &nbsp&nbsp
               <span class="glyphicon glyphicon-trash" aria-hidden="true" onclick="delete_post({{post_data.post.id}});"></span>
             </div>
           </div>
         </div>
       </div>     
     </div><!-- /box -->

     {% endfor %}

     <div class="clearfix"></div>
     <nav aria-label="Page navigation">

      <div class="pagination">
        <span class="step-links">
          {% if my_listing.has_previous %}
          <a href="?page={{ my_listing.previous_page_number }}&tab=3&orderby={{request.GET.orderby}}&list={{request.GET.list}}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ my_listing.number }} of {{ my_listing.paginator.num_pages }}.
          </span>

          {% if my_listing.has_next %}
          <a href="?page={{ my_listing.next_page_number }}&tab=3&orderby={{request.GET.orderby}}&list={{request.GET.list}}">next</a>
          {% endif %}
        </span>
      </div>

  <!--ul class="pagination">
    <li>
      <a href="#" aria-label="Previous" style="padding: 9px;">
       <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
     </a>
   </li>
   <li><a href="#">1</a></li>
   <li><a href="#">2</a></li>
   <li><a href="#">3</a></li>
   <li><a href="#">4</a></li>
   <li><a href="#">5</a></li>
   <li><a href="#">6</a></li>
   <li><a href="#">..</a></li>
   <li><a href="#">10</a></li>
   <li>
    <a href="#" aria-label="Next" style="padding: 9px;">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </a>
  </li>
</ul-->
</nav>
{% else %}
No record for this user
{% endif %}
</div>

</div>
</div>
</div>
<div class="col-sm-4 col-md-4 blog-sidebar">
  <div class="sidebar-module" style="margin-bottom: 0;">
    {% include "web/ad2.html" %}
  </div>
</div><!-- /.sidebar -->
</div>
{% endblock %}

{% block js %}
<script src="https://rawgit.com/makeusabrew/bootbox/f3a04a57877cab071738de558581fbc91812dce9/bootbox.js"></script>
<script>

  $('.item').on('click','li', function(){

    if($(this).children(".subitem").is(":visible"))
    {
   ; //$(this).children(".subitem").hide(); 
 }
 else
 {
  $(this).children(".subitem").show().end().siblings().find('.subitem').hide();
}  
});


  function get_sub_sub_categories(sub_cate_id)
  {

    var url = '/dashboard/sub_subcategory/';
    var formData = {
      csrfmiddlewaretoken: '{{csrf_token}}',
      sub_cate_id: sub_cate_id,
    };

    var ajaxOptions = {
      url: url,
      type: "POST",
      data: formData,
      dataType: "json",
      success: function(response) {
        if (response !== undefined && response !== null) {
          if (response.length>0){
            for (var i = 0; i < response.length; i++) {
              $("#sub_sub_cate_"+sub_cate_id).append("<li onclick='load_form("+response[i].pk+" , \"sub_sub_cate\")'>" + response[i].fields.name + "</li>");
            }
          }
          else{
            load_form(sub_cate_id,"sub_cate")
          }
        }
      }
    };

    $.ajax(ajaxOptions);


  }
  function load_form(cate_id, cate_type)
  {

    var input_type ={'Char':'text',
    'Image':'file',
    'Choice':'select',
    'Boolean':'text',
    'Time':'text',
    'Date':'date',
    'Decimal':'text'}

    var composite_type = {} ;  
    var boolean_tem = {} ; 
    var char_Bulletted = [];

    var url = '/dashboard/listing_category/';

    var formData = {
      csrfmiddlewaretoken: '{{csrf_token}}',
      cate_id: cate_id,
      cate_type:cate_type,

    };

    var ajaxOptions = {
      url: url,
      type: "POST",
      data: formData,
      dataType: "json",
      success: function(response) {
        console.log(JSON.stringify(response))
        if (response !== undefined && response !== null) {
         if (response.length>0){
          $(".form-inline").empty()
          for (var i = 0; i < response.length; i++) {

            if (response[i].fields.field_type=='Char' || response[i].fields.field_type=='Decimal' || response[i].fields.field_type=='Time' || response[i].fields.field_type=='Date')

            {  
                                  //console.log(char_Bulletted.indexOf(response[i].pk))
                                  //console.log(typeof(char_Bulletted.indexOf(response[i].pk)))
                                  if(char_Bulletted.indexOf(response[i].pk) != -1 )
                                  {
                                    continue;
                                  }

                                  $(".form-inline").append("<div class='form-group col-xs-12'><div class='input-group col-xs-12 padding-0'> <div class='input-group-addon-2'><span class='glyphicon glyphicon-pencil' aria-hidden='true'> </span></div> <input type='"+input_type[response[i].fields.field_type]+"' class='form-control-2' id='exampleInputAmount' placeholder='"+response[i].fields.name+"'> </div>");
                                }
                                else if (response[i].fields.field_type=='Choice')
                                {
                                  $(".form-inline").append("<div class='form-group col-xs-12'><label >"+response[i].fields.name+"</label> <div class='input-group col-xs-12 padding-0'> <div class='input-group-addon-2'><span class='glyphicon glyphicon-pencil' aria-hidden='true'> </span></div> <select class='form-control custom-select' id='"+response[i].pk+"' name='"+response[i].fields.name+"' placeholder='"+response[i].fields.name+"'></select> </div>");
                                  if (response[i].fields.extra_attributes !== null)
                                  {

                                    data_attributes = eval('(' + response[i].fields.extra_attributes + ')');
                                    data_attributes = data_attributes.split(':')[1]
                                    data_attributes = data_attributes.replace('(','');
                                    data_attributes = data_attributes.replace(')','');
                                    data_attributes = data_attributes.split(',')
                                    for (var optn=0; optn < data_attributes.length; optn++ )
                                    {
                                      $("#"+response[i].pk).append('<option>'+data_attributes[optn]+'</option>');
                                    }
                                  }


                                }

                                else if (response[i].fields.field_type=='Bulletted')
                                {


                                  $(".form-inline").append("<div class='form-group'><label >"+response[i].fields.name +"----"+response[i].fields.field_type+"</label> <div class='input-group' id='"+response[i].pk+"' > </div>  </div> <br/>");

                                  text_fields = response[i].fields.extra_attributes.split(',');

                                  for (var t_field=0; t_field < text_fields.length; t_field++)
                                  {
                                    char_Bulletted.push(text_fields[t_field]);
                                    $("#"+response[i].pk).append('<input type="text" name="'+text_fields[t_field]+'"/>'); 
                                  }

                                }

                                else if (response[i].fields.field_type=='Composite')
                                {


                                  $(".form-inline").append("<div class='col-xs-12 chkbox-section'><label >"+response[i].fields.name+"</label> <span id='"+response[i].pk+"' >");

                                  console.log(boolean_tem+'boolean_tem')

                                  composite_type = response[i].fields.extra_attributes.split(',');

                                  for (var item_com=0; item_com<composite_type.length; item_com++)
                                    $("#"+response[i].pk).append( boolean_tem[composite_type[item_com]]+'<input class="checkbox" type="checkbox" /></label></span></div>' )


                                }

                                else if (response[i].fields.field_type=='Boolean')
                                {


                                  boolean_tem[response[i].pk] = "<div class='col-xs-12'><label class='col-xs-12 chkbox padding-0' >"+response[i].fields.name+" <div class='checkbox inline chkbox-inline' id='"+response[i].pk+"' >";

                                //composite_type[response[i].pk] = response[i].fields.extra_attributes.split(',')

                              }


                              else
                              {

                                $(".form-inline").append("<div class='form-group col-xs-12'><label >"+response[i].fields.name +"----"+response[i].fields.field_type+"</label> <div class=''> <div class='input-group-addon-2'><span class='glyphicon glyphicon-pencil' aria-hidden='true'> </span></div> <input type='"+input_type[response[i].fields.field_type]+"'data-icon='false' class='filestyle'></div>");

                              }



                            }
                          }
                          else{
                           load_form(sub_cate_id,"sub_cate")
                         }
                       }
                       $(":file").filestyle({icon: false});
                     }
                   };

                   $.ajax(ajaxOptions);
  //alert('need to load form' +type)
}
function delete_post(post_id){
  bootbox.confirm("Are you sure you want to delete this listing?", function(result){
    if (result === true) {
      console.log("Delete posting with id:"+post_id+"...");
    }
  });
}

</script>
{% endblock %}


