numpy >= 1.6.1
scipy>=0.9
sklearn
#pandas-confusion
xgboost>=0.4a27
xgbmagic
h2o
rep
pandas
pandas_confusion
keras
-e git+https://github.com/rsteca/sklearn-deap.git#egg=sklearn-deap
#-e git+https://github.com/mhamilton723/TimeSeriesRegressor.git#egg=TimeSeriesEstimator
#sklearn-contrib-lightning
explain_sklearn
sklearn-evaluation
fagroupa
#sklearn-pmml
pyvw
scikit-neuralnetwork
